<ul class="recordtree-grid">
    {% for tree in trees %}
        <li>
            {% if tree.iconFileName %}
            <a class="icon" href="{{path('website_record_tree', {'treeIndex': tree.treeIndex})}}">
                <img src="{{ asset("bundles/darkishwebsite/images/ticons/" ~ tree.iconFileName ~ ".png") }}">
            </a>
            {% endif %}

            <div class="tree-titles">
                <h3>
                    <a href="{{path('website_record_tree', {'treeIndex': tree.treeIndex})}}">{{tree.title}}</a>
                </h3>
                <span class="tree-subtitle">{{ tree.subTitle }}</span>
            </div>

        </li>
    {% endfor %}
</ul>