{% extends 'DarkishWebsiteBundle:Default:website-layout.html.twig' %}


{% block page_title %}
	{% if tree %}
			{{tree.title}}
	{% else %}
			اخبار
	{% endif %}
{% endblock %}

{% block page_subtitle %}
	{% if tree %}
			{{tree.subTitle}}
	{% else %}
			شاخه بندی اخبار
	{% endif %}
	
{% endblock %}

{% block content %}
	{% if trees %}
		<ul class="newstree-list">
			{% for tree in trees %}
				<li>
		    		<a href="{{path('website_news_tree', {'treeIndex': tree.treeIndex})}}">{{tree.title}}</a>
	    		</li>
			{% endfor %}	
		</ul>
		<hr/>
	{% endif %}
	

	

	<div class="news-list">
		{% for news in pagination %}
			<div class="news-item">
				{{ include('DarkishWebsiteBundle:News:news-grid.html.twig', {'news': news}) }}
			</div>
		{% endfor %}
	</div>

 	{{ knp_pagination_render(pagination) }}
	
{% endblock %}