{% extends 'DarkishWebsiteBundle:Default:website-layout.html.twig' %}


{% block page_title %}
	{% if tree %}
		<h2 class="page-title">
			{{tree.title}}
		</h2>
	{% else %}
		<h2 class="page-title">
			اخبار
		</h2>
	{% endif %}
{% endblock %}

{% block page_subtitle %}
	{% if tree %}
		<h4 class="page-subtitle">
			{{tree.subTitle}}
		</h4>
	{% else %}
		<h4 class="page-subtitle">
			شاخه بندی اخبار
		</h4>
	{% endif %}
	
{% endblock %}

{% block content %}


	{% if trees %}

			{% if tree.treesIds is not empty %}
				<ul class="recordtree-list">
					{% for tree in trees %}
							<li>
								<a href="{{path('website_record_tree', {'treeIndex': tree.treeIndex})}}">{{tree.title}}</a>
							</li>
					{% endfor %}
				</ul>
			{% else %}
				<ul class="recordtree-grid">
					{% for tree in trees %}
						<li>
							<a class="icon" href="{{path('website_record_tree', {'treeIndex': tree.treeIndex})}}">
								<img src="{{ asset("bundles/darkishwebsite/images/ticons/" ~ tree.iconFileName ~ ".png") }}">
							</a>
							<div class="tree-titles">
								<h3><a href="{{path('website_record_tree', {'treeIndex': tree.treeIndex})}}">{{tree.title}}</a></h3>
								<span class="tree-subtitle">{{ tree.subTitle }}</span>
							</div>

						</li>
					{% endfor %}
				</ul>
			{% endif %}

		<hr/>
	{% endif %}


	{% if tree.treesIds is not empty %}


		<div class="record-list">
			{% for record in pagination %}
				<div class="record-item">
					{{ include('DarkishWebsiteBundle:Record:record-grid.html.twig', {'record': record}) }}
				</div>
			{% endfor %}
		</div>
		{{ knp_pagination_render(pagination) }}

	{% endif %}




{% endblock %}