{% extends 'DarkishWebsiteBundle:Default:website-layout.html.twig' %}


{% block page_title %}
	{% if tree %}
			{{tree.title}}
	{% else %}
			اخبار
	{% endif %}
{% endblock %}

{% block page_subtitle %}
	{% if tree %}
			{{tree.subTitle}}
		</h4>
	{% else %}
		<h4 class="page-subtitle">
			شاخه بندی اخبار
		</h4>
	{% endif %}
	
{% endblock %}

{% block content %}


    {% if tree.showDbaseKey %}
        <div class="record-tree-operation">
            {% if tree.dbaseType == 1 %}
                <a class="dbase-link" href="{{ path('website_record_database', {"type": 'estate'}) }}">
                  {{ tree.dbaseKeyTitle }}
                </a>
            {% elseif tree.dbaseType == 2 %}
                <a class="dbase-link" href="{{ path('website_record_database', {"type": 'automobile'}) }}">
                    {{ tree.dbaseKeyTitle }}
                </a>
            {% endif %}
        </div>
    {% endif %}


	{% if trees %}

			{% if tree.treesIds is not empty %}
				<ul class="tree-list">
					{% for tree in trees %}
							<li>
								<a href="{{path('website_record_tree', {'treeIndex': tree.treeIndex, 'centers': app.request.query.get('centers') })}}">{{tree.title}}</a>
							</li>
					{% endfor %}
				</ul>
			{% else %}
                {{ include('DarkishWebsiteBundle:Tree:tree-list.html.twig', {"trees":trees, 'routename': 'website_record_tree'}) }}
			{% endif %}

		<hr/>
	{% endif %}


	{% if tree.treesIds is not empty %}


		<div class="record-list">
			{% for record in pagination %}
				<div class="record-item">
					{{ include('DarkishWebsiteBundle:Record:record-grid.html.twig', {'record': record}) }}
				</div>
			{% endfor %}
		</div>
		{{ knp_pagination_render(pagination) }}

	{% endif %}




{% endblock %}

{% set _sidebar_first = true %}
{% block sidebar_first %}
    {% if tree.centersGroupIndex %}
        {{ sonata_block_render({'type': 'darkish_website.block.centers'},{
            'center_type': tree.centersGroupIndex
        }) }}
    {% endif %}
    {% if tree.sponsorGroup %}
        {{ sonata_block_render({'type': 'darkish_website.block.sponsors'},{
            'mode': 'treeindex',
            'tree_index': tree.sponsorGroup
        }) }}
    {% else %}
        {{ sonata_block_render({'type': 'darkish_website.block.sponsors'},{
            'mode': 'random'
        }) }}
    {% endif %}

{% endblock %}