{% extends 'DarkishWebsiteBundle:Default:website-layout.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/darkishwebsite/bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css') }}" rel="stylesheet" />

{% endblock %}

{#{% block page_header %}#}
	{#<div class="page-header-box">#}
		{#<div class="date">#}
			{#<span class="day">{{ record.creationDate | jdate("j") }}</span>#}
			{#<span class="month">{{ record.creationDate | jdate("F") }}</span>#}
			{#<span class="time">{{ record.creationDate | jdate("H:i") }}</span>#}
		{#</div>#}
	{#</div>#}

{#{% endblock %}#}

{% block page_title %}

		{{record.title}}

{% endblock %}

{% block page_subtitle %}

		{{record.subTitle}}

{% endblock %}

{% block content %}



	{{ include('DarkishWebsiteBundle:Record:record-full.html.twig', {'record': record}) }}



{% endblock %}

{% block sidebar_first %}
    {{ sonata_block_render({
        'type': 'darkish_website.block.rss'
    }) }}
{% endblock %}