<div class="record mode-grid">
	{% if record.icon %}
		<img width="320" height="180" src="{{ record.icon.getRelativePath | imagine_filter('my_thumb') }}" />
		
	{% else %}
		<img width="320" height="180" src="{{ 'bundles/darkishwebsite/images/default_image.png' | imagine_filter('my_thumb') }}" />
	{% endif %}

	<div class="stats">
		<span class="like-count">{{ record.getFormattedCount(record.likeCount)}}<i class="fa fa-thumbs-up"></i></span>
		<span class="visit-count">{{ record.getFormattedCount(record.visitCount)}}<i class="fa fa-eye"></i></span>
		<span class="comment-count">{{ record.getFormattedCount(record.commentCount)}}<i class="fa fa-comments"></i></span>
	</div>

	<h4><a href="{{ path('website_record_single', {'record': record.id}) }}" rel="nofollow" title="{{ record.title }}">{{ record.title |truncate(30,true) }}</a></h4>

	<div>{{record.subTitle|truncate(40,true)}}</div>
</div>