<div class="well well-sm record-details-inner-wrapper" >
    <div class="record-details-inner">

        {% if record.address %}

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="record-address">
                        <label>
                                    آدرس
                        :</label>
                        <span class="">
                            {{ record.address }}
                        </span>
                    </div>
                </div>
            </div>

            <hr/>
        {% endif %}




        {% set hasTel = record.telNumberOne or record.telNumberTwo or record.telNumberThree or record.telNumberFour %}
        {% set hasContact = record.mobileNumberOne or record.mobileNumberTwo or record.faxNumberOne or record.faxNumberTwo %}

        {% if hasTel or hasContact %}
            <div class="row">
                {% if hasTel %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        {% if record.telNumberOne %}
                            <div class="record-tel-number">
                                <label>
                                    {% if record.telNumberOneLabel %}
                                        {{ record.telNumberOneLabel }}
                                    {% else %}
                                        تلفن
                                    {% endif %}
                                :</label>
                                <span class="">
                            {{ record.telNumberOne }}
                        </span>
                            </div>
                        {% endif %}

                        {% if record.telNumberTwo %}
                            <div class="record-tel-number">
                                <label>
                                    {% if record.telNumberTwoLabel %}
                                        {{ record.telNumberTwoLabel }}
                                    {% else %}
                                        تلفن
                                    {% endif %}
                                :</label>
                                <span class="">
                                    {{ record.telNumberTwo }}
                                </span>
                            </div>
                        {% endif %}

                        {% if record.telNumberThree %}
                            <div class="record-tel-number">
                                <label>
                                    {% if record.telNumberThreeLabel %}
                                        {{ record.telNumberThreeLabel }}
                                    {% else %}
                                        تلفن
                                    {% endif %}
                                :</label>
                                <span class="">
                                    {{ record.telNumberThree }}
                                </span>
                            </div>
                        {% endif %}

                        {% if record.telNumberFour %}
                            <div class="record-tel-number">
                                <label>
                                    {% if record.telNumberFourLabel %}
                                        {{ record.telNumberFourLabel }}
                                    {% else %}
                                        تلفن
                                    {% endif %}
                                :</label>
                                <span class="">
                                    {{ record.telNumberFour }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if hasContact %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {% if record.mobileNumberOne %}
                            <div class="record-mobile-number">
                                <label>
                                    تلفن همراه
                                :</label>
                                <span class="">
                                    {{ record.mobileNumberOne }}
                                </span>
                            </div>
                        {% endif %}

                        {% if record.mobileNumberTwo %}
                            <div class="record-mobile-number">
                                <label>
                                    تلفن همراه
                                :</label>
                                <span class="">
                                    {{ record.mobileNumberTwo }}
                                </span>
                            </div>
                        {% endif %}

                        {% if record.faxNumberOne %}
                            <div class="record-fax-number">
                                <label>
                                    فکس
                                :</label>
                                <span class="">
                                    {{ record.faxNumberOne }}
                                </span>
                            </div>
                        {% endif %}

                        {% if record.faxNumberTwo %}
                            <div class="record-fax-number">
                                <label>
                                    فکس
                                :</label>
                                <span class="">
                                    {{ record.faxNumberTwo }}
                                </span>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

            </div>
            <hr/>
        {% endif %}


        {% set hasOwner = record.owner or record.ownerPhone or record.ownerMail %}
        {% set hasManager = record.manager or record.managerPhone or record.managerMail %}

        {% if hasOwner or hasManager %}
            <div class="row">

                {% if hasOwner %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {% if record.owner %}
                            <div class="record-owner">
                                <label>
                                    نام مالک
                                :</label>
                                <span class="">
                                    {{ record.owner }}
                                </span>
                            </div>
                        {% endif %}
                        {% if record.ownerPhone %}
                            <div class="record-owner-phone">
                                <label>
                                    تلفن مالک
                                :</label>
                                <span class="">
                                    {{ record.ownerPhone }}
                                </span>
                            </div>
                        {% endif %}
                        {% if record.ownerMail %}
                            <div class="record-owner-mail">
                                <label>
                                    ایمیل مالک
                                :</label>
                                <span class="">
                                    {{ record.ownerMail }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if hasManager %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        {% if record.manager %}
                            <div class="record-manager">
                                <label>
                                    نام مدیر
                                :</label>
                                <span class="">
                                    {{ record.manager }}
                                </span>
                            </div>
                        {% endif %}
                        {% if record.managerPhone %}
                            <div class="record-manager-phone">
                                <label>
                                    تلفن مدیر
                                :</label>
                                <span class="">
                                    {{ record.managerPhone}}
                                </span>
                            </div>
                        {% endif %}
                        {% if record.managerMail %}
                            <div class="record-manager-mail">
                                <label>
                                    ایمیل مدیر
                                :</label>
                                <span class="">
                                    {{ record.managerMail }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <hr/>
        {% endif %}




        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {% if record.postalCode %}
                <div class="record-postal-code">
                    <label>
                        کدپستی
                    :</label>
                    <span class="">
                        {{ record.postalCode}}
                    </span>
                </div>
            {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {% if record.smsNumber %}
                    <div class="record-sms-number">
                        <label>
                            شماره پیامک
                        :</label>
                        <span class="">
                            {{ record.smsNumber }}
                        </span>
                    </div>
            {% endif %}
            </div>
        </div>

    </div>
</div>
