<div class="container">
    <div class="col col-xs-12 col-sm-6 right">
        <h3 class="{{ kish_forum.right.text_class }}">
            {{ kish_forum.right.text }}
        </h3>
        <p class="{{ kish_forum.right.sub_text_class }}">
            {{ kish_forum.right.sub_text }}
        </p>


        <a class="btn {{ kish_forum.right.button.class }}" href="{{ url('website_news_tree', {"treeIndex": kish_forum.right.button.link}) }}">
            {{ kish_forum.right.button.text }}
        </a>

    </div>
    <img class="visible-xs-block visible-sm-block {{ kish_forum.image.class }}" src="{{ asset('bundles/darkishwebsite/images/front_images/'~kish_forum.image.url) }}" />
    <div class="col col-xs-12 col-sm-6 left">
        <h3 class="{{ kish_forum.left.text_class }}">
            {{ kish_forum.left.text }}
        </h3>
        <p class="{{ kish_forum.left.sub_text_class }}">
            {{ kish_forum.left.sub_text }}
        </p>

        <a class="btn {{ kish_forum.left.button.class }}" href="{{ url('website_news_tree', {"treeIndex": kish_forum.left.button.link}) }}">
            {{ kish_forum.left.button.text }}
        </a>
    </div>
</div>
<img class="hidden-xs hidden-sm {{ kish_forum.image.class }}" src="{{ asset('bundles/darkishwebsite/images/front_images/'~kish_forum.image.url) }}" />
<div class="hidden-xs hidden-sm center-line"></div>