<div class="container">
    <h3 class="{{ kish_gallery.text_class }}">
        {{ kish_gallery.text }}
    </h3>

    <div class="col col-xs-12 col-sm-offset-4 col-sm-4 {{ kish_gallery.sub_text_class }}">
        {{ kish_gallery.sub_text }}
    </div>

    <div class="col col-xs-12 col-sm-3 {{ kish_gallery.button.class }}">
        <div class="arrow-right hidden-xs hidden-sm"></div>
        <a href="http://gallery.darkish.ir" class="btn btn-lg  {{ kish_gallery.button.class }}">
            {{ kish_gallery.button.text }}
        </a>
    </div>



</div>

