<h3>
    مشاغل و خدمات
</h3>
<div class="container">
    <div class="row first-row">
        <div class="col col-xs-4 mobile-app">
            <a class="download-app" href="/app_dev.php/"><img src="{{ asset('bundles/darkishwebsite/images/web-app.png') }}"></a>
        </div>
        <div class="col col-xs-4 description">
            {{ params.records.text }}
        </div>
        <div class="col col-xs-4 submit-record">
            <div class="arrow-right"></div>
            <button class="btn btn-lg">
                ثبت مشاغل
            </button>
        </div>
    </div>

    <div class="row trees">
        {% for webmaintree in webmaintrees %}
            <div class="col col-xs-2">
                <a href="{{ path('website_record_tree', {"treeIndex": webmaintree.treeIndex}) }}"><img src="{{ asset('bundles/darkishwebsite/images/ticons/'~webmaintree.iconFileName~'.png') }}" /></a>
                <a href="{{ path('website_record_tree', {"treeIndex": webmaintree.treeIndex}) }}"><h3>{{ webmaintree.title }}</h3></a>
                <h4>{{ webmaintree.subTitle }}</h4>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container sponsors">

</div>