<div class="container">
    <div class="description">
        <h1>مشاغل و واحد ها</h1>
        <p>توضیحات مربوط به مشاغل و واحد ها. توضیحات مربوط به مشاغل و واحد ها.توضیحات مربوط به مشاغل و واحد ها.توضیحات مربوط به مشاغل و واحد ها.توضیحات مربوط به مشاغل و واحد ها.توضیحات مربوط به مشاغل و واحد ها.توضیحات مربوط به مشاغل و واحد ها.توضیحات مربوط به مشاغل و واحد ها. </p>
    </div>
    <div class="records">
        <div id="records-container">
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
            <div class="item">
                {{ include('DarkishWebsiteBundle:Default:record-list-item.html.twig') }}
            </div>
        </div>
    </div>
</div>