<div class="container">
    <div id="estates-container-first">
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
    </div>
    <div id="estates-container-second">
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
        <div class="item">
            {{ include('DarkishWebsiteBundle:Default:estate-list-item.html.twig') }}
        </div>
    </div>
</div>