<div class="container">

	<div class="automobiles-description">
		<h1>
			بانک خودرو
		</h1>
		<p>
			توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. توضیحات مربوط به بانک خودرو. 
		</p>
	</div>

	<div class="automobiles">
		<button class="filter" data-filter=".category-1">برند اول</button>
		<button class="filter" data-filter=".category-2">برند دوم</button>
		<button class="filter" data-filter=".category-3">برند سوم</button>
		<button class="filter" data-filter=".category-4">برند چهارم</button>

		<div id="automobiles-container">
		    <div class="mix category-1" data-my-order="1">
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-2" data-my-order="2">
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-3" data-my-order="3"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-4" data-my-order="4"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-1" data-my-order="1"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-2" data-my-order="2"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-3" data-my-order="3"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-4" data-my-order="4"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-1" data-my-order="1"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-2" data-my-order="2"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-3" data-my-order="3"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-4" data-my-order="4"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-1" data-my-order="1"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-2" data-my-order="2"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-3" data-my-order="3"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>
		    <div class="mix category-4" data-my-order="4"> 
		    	{{ include('DarkishWebsiteBundle:Default:automobile-list-item.html.twig') }}
		    </div>

		</div>
	</div>
</div>