{% if thread %}
    {{ pagination.getTotalItemCount }}
    {% for comment in pagination %}
        <div class="media comment">
            <div class="media-left">
                <a href="#">
                    {% if comment.owner | user_photo %}
                        <img class="media-object" src="{{ comment.owner | user_photo }}" alt="...">
                    {% else %}
                        <img class="media-object" src="{{ asset('bundles/darkishwebsite/images/default_profile.jpg') }}" alt="...">
                    {% endif %}

                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.owner | user_name }} - <span class="comment-date">{{ comment.createdAt | jdate }}</span>   </h4>

                {{ comment.body | raw }}
                <button type="button" class="comment-reply-button btn btn-default btn-xs" comment-id="{{ comment.id }}"
                        entity-type="{{ settings.entity_type }}" entity-id="{{ entity.id }}">
                    پاسخ
                </button>
                {% set children = (comment | comment_children) %}
                {% if children | length %}
                    {% for child in children %}
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    {% if child.owner | user_photo %}
                                        <img class="media-object" src="{{ child.owner | user_photo }}" alt="...">
                                    {% else %}
                                        <img class="media-object" src="{{ asset('bundles/darkishwebsite/images/default_profile.jpg') }}" alt="...">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ child.owner | user_name }} - <span class="comment-date">{{ child.createdAt | jdate }}</span></h4>
                                {{ child.body | raw }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {#{{ comment | comment_children }}#}
            </div>
        </div>
    {% endfor %}
{% else %}
    برای این واحد نظری ثبت نشده است.
{% endif %}

{{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}

    <input type="hidden" value="{{ settings.entity_type }}" name="entity_type" />
    <input type="hidden" value="{{ entity.id }}" name="entity_id" />

    <input type="submit" value="ارسال"
           class="btn btn-default pull-right" />
{{ form_end(comment_form) }}

<button class="testbutton">test</button>

<script src="{{ asset('bundles/darkishwebsite/js/comment.js') }}"></script>
