{% if thread %}
    {% for comment in pagination %}
        <div id="comment-{{ comment.id }}" class="media comment">
            <div class="media-right">
                <a href="#">
                    {% if comment.owner | user_photo %}
                        <img class="media-object" src="{{ comment.owner | user_photo }}" alt="...">
                    {% else %}
                        <img class="media-object" src="{{ asset('bundles/darkishwebsite/images/default_profile.jpg') }}" alt="...">
                    {% endif %}

                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"> <span class="owner-name">{{ comment.owner | user_name }} - </span>   <span class="comment-date">{{ comment.createdAt | jdate('Y/m/d H:i') }}</span>   </h4>

                {{ comment.body | raw }}



                {% set children = (comment | comment_children) %}
                {% if children | length %}
                    <div id="children-{{ comment.id }}" class="children">
                    {% for child in children %}
                        {{  include('DarkishWebsiteBundle:Comment:child.html.twig', {"child": child}) }}
                    {% endfor %}
                    </div>

                {% endif %}

                <hr/>

                {% if children | length %}
                <button type="button"
                        class="comment-buttons btn-info comment-more-button btn btn-default btn-sm"
                        comment-id="{{ comment.id }}">
                    بیشتر
                </button>
                {% endif %}

                <button type="button" class="comment-buttons btn-success comment-reply-button btn btn-default btn-sm" comment-id="{{ comment.id }}"
                        entity-type="{{ settings.entity_type }}" entity-id="{{ entity.id }}">
                    پاسخ
                </button>

                {#{{ comment | comment_children }}#}
            </div>
        </div>
    {% endfor %}
    <div class="pagination-wrapper">
        {{ knp_pagination_render(pagination) }}
    </div>
{% else %}
    برای این واحد نظری ثبت نشده است.
{% endif %}
<hr/>
{{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}

    <input type="hidden" value="{{ settings.entity_type }}" name="entity_type" />
    <input type="hidden" value="{{ entity.id }}" name="entity_id" />

    <input type="submit" value="ارسال"
           class="btn btn-default pull-right" />

{{ form_end(comment_form) }}



