{% if thread %}
    {% for comment in pagination %}
        {{  include('DarkishWebsiteBundle:Comment:comment.html.twig', {"comment": comment, 'entity_id': entity.id, 'entity_type': settings.entity_type}) }}
    {% endfor %}
    <div class="pagination-wrapper">
        {{ knp_pagination_render(pagination) }}
    </div>
{% else %}
در حال حاضر هیچ نظری ثبت نشده است.
{% endif %}
<hr/>
{{ form_start(comment_form) }}

    <div class="well">
        <h3>
            تصاویر
        </h3>
        تصویر اول به عنوان تصویر اصلی در نظر گرفته خواهد شد.

        <div id="comment-file-list" class="row"
             data-url="{{ oneup_uploader_endpoint('image') }}"
             data-prototype="{{ form_widget(comment_form.photos.vars.prototype)|e }}"
             data-entity-type="comment"
             data-upload-dir="image"
            >
        </div>

        <br />

        <div id="upload-container">
            <label><a id="comment-file-browse" href="javascript:;">[
                    انتخاب فایل
                    ...]</a></label>

            <a id="comment-start-upload" href="javascript:;">[
                بارگزاری فایل ها
                ]</a>
        </div>

        <br />
        <pre id="console"></pre>

    </div>

    {{ form_widget(comment_form) }}

    <input type="hidden" value="{{ settings.entity_type }}" name="entity_type" />
    <input type="hidden" value="{{ entity.id }}" name="entity_id" />

    <input type="submit" value="ارسال"
           class="btn btn-default pull-right" />

{{ form_end(comment_form) }}



