{% extends 'DarkishWebsiteBundle:Default:website-layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/jquery-ui/ui/minified/widget.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-load-image/js/load-image.all.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.fileupload-process.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.fileupload-image.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.fileupload-video.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.fileupload-audio.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/blueimp-file-upload/js/jquery.fileupload-validate.js') }}"></script>#}

    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/plugins/plupload/js/plupload.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/Readmore.js/readmore.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/URIjs/src/URI.min.js') }}"></script>
    <script src="{{ asset('bundles/darkishwebsite/js/comment.js') }}"></script>
    <script src="{{ asset('bundles/darkishwebsite/js/upload.js') }}"></script>
    <script src="{{ asset('bundles/darkishwebsite/js/itinerary/itinerary.js') }}"></script>
    <script>

        $(document).ready(function(){
            $('#filelist').dkUpload({
                browse_button: 'browse'
            });


        })

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/darkishwebsite/bower_components/lightbox2/dist/css/lightbox.css') }}" rel="stylesheet" />

    <style>
        #upload-container div.moxie-shim {
            width: 100% !important;
            height: 100% !important;

        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <span class="breadcrumb-label"> شما اینجا هستید:</span> <a href="{{path('website_home')}}">خانه</a>
{% endblock %}
{% block page_title %}
    سفرنامه

{% endblock %}
{% block page_subtitle %}
    زیرعنوان سفرنامه
{% endblock %}

{% block content %}
    <a class="insert-itinerary btn btn-primary" role="button" data-toggle="collapse" href="#itinerary-form" aria-expanded="false" aria-controls="itinerary-form">
        +
        ثبت سفرنامه
    </a>
    <div class=" well itinerary-form collapse collapsed" id="itinerary-form">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="well">
            <h3>
                تصاویر
            </h3>
            تصویر اول به عنوان تصویر اصلی در نظر گرفته خواهد شد.

            <div id="filelist" class="row"
                 data-url="{{ oneup_uploader_endpoint('image') }}"
                 data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}"
                 data-entity-type="itinerary"
                 data-upload-dir="image" >
            </div>

            <br />

            <div id="upload-container">
                <label><a id="browse" href="javascript:;">[
                        انتخاب فایل
                        ...]</a></label>

                <a id="start-upload" href="javascript:;">[
                    بارگزاری فایل ها
                    ]</a>
            </div>

            <br />
            <pre id="console"></pre>

        </div>
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">
            ثبت
        </button>



        {{ form_end(form) }}

    </div>



    {% for itinerary in paginator %}
        {{ include('@DarkishWebsite/Itinerary/itinerary-item.html.twig', {"itinerary": itinerary}) }}
    {% endfor %}

    {{ knp_pagination_render(paginator) }}


{% endblock %}

{% set _sidebar_first = true %}
{% block sidebar_first %}
    {{ sonata_block_render({'type': 'darkish_website.block.sponsors'},{
        'mode': 'random'
    }) }}
{% endblock %}