{% extends '@DarkishWebsite/Default/website-layout.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/sequencejs/scripts/imagesloaded.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/sequencejs/scripts/hammer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/bower_components/sequencejs/scripts/sequence.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/darkishwebsite/js/sequencejs/sequence-theme.basic.js') }}"></script>
{% endblock %}

{% block  body %}

	{{ include('DarkishWebsiteBundle:Default:layout/header.html.twig') }}

    <div class="container-fluid sequence-wrapper">
        <div id="sequence">
            <div class="seq-canvas">

                {% for slide in params.slideshow  %}
                <div
                    class="row"
                    style="background-image: url({{ asset('bundles/darkishwebsite/images/front_images/slideshow/')~slide.image }});"

                        >

                    {% if slide.right is defined %}
                    <div class="col col-xs-6 content {% if slide.right.position is defined %}{{ slide.right.position }}{% endif %}"
                        style="{% if slide.right.color is defined %}color: {{ slide.right.color }}{% endif %}">
                        {% if slide.right.text is defined %}
                        <h2 data-seq>{{ slide.right.text }}</h2>
                        {% endif %}
                        {% if slide.right.sub_text is defined %}
                        <h3 data-seq>{{ slide.right.sub_text }}</h3>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if slide.left is defined %}
                    <div class="col col-xs-6 content {% if slide.left.position is defined %}{{ slide.left.position }}{% endif %}"
                         style="{% if slide.left.color is defined %}color: {{ slide.left.color }}{% endif %}" >
                        {% if slide.left.text is defined %}
                        <h2 data-seq>{{ slide.left.text }}</h2>
                        {% endif %}
                        {% if slide.left.sub_text is defined %}
                        <h3 data-seq>{{ slide.left.sub_text }}</h3>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>
                {% endfor %}


            </div>
            <button type="button" class="seq-next">Next</button>
            <button type="button" class="seq-prev">Prev</button>
            <ul class="seq-pagination">
                {% for slide in params.slideshow %}
                    <li>{{ loop.index }}</li>
                {% endfor %}
            </ul>

        </div>

    </div>

    <div class="container-fluid about-kish-wrapper">
        {{ include("DarkishWebsiteBundle:Default/front:about-kish.html.twig", {"items": params.about_kish }) }}
    </div>

    <div class="container-fluid jashnvareh-wrapper">
        {{ include("DarkishWebsiteBundle:Default/front:jashnvareh.html.twig", {"items": jashnvareha }) }}
    </div>

    <div class="container-fluid records-wrapper">
        {{ include("DarkishWebsiteBundle:Default/front:records.html.twig", {"params": params, "webmaintrees": webmaintrees }) }}
    </div>



    <div dir="ltr">
    {{ krumo(params) }}
    </div>

{% endblock %}
