{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link href="{{ asset('bundles/darkishwebsite/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/darkishwebsite/stylesheets/print.css') }}" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	  <link href="{{ asset('bundles/darkishwebsite/stylesheets/ie.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href="{{ asset('bundles/darkishwebsite/stylesheets/darkish-bootstrap.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/darkishwebsite/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/darkishwebsite/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

	<link href="{{ asset('bundles/darkishwebsite/stylesheets/website.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/ckeditor-body.css') }}" rel="stylesheet" />

{% endblock %}


{% block javascripts %}
	<script src="{{ asset('bundles/darkishwebsite/bower_components/jquery/jquery.min.js') }}"></script>
	<script src="{{ asset('bundles/darkishwebsite/plugins/darkish-bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/darkishwebsite/js/music-client.js') }}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>



{% endblock %}
{% block  dir %}dir="rtl" class="register-customer"{% endblock %}

{% block  body %}

	{{ include('DarkishWebsiteBundle:Default:layout/header.html.twig') }}



	{% if wo_breadcrumbs()|length %}
		<div class="breadcrumb-wrapper">
			<div class="container">
				{{ wo_render_breadcrumbs() }}
			</div>
		</div>
	{% endif %}

	<div class="container main-container">
		{#{% set _sidebar_first = block('sidebar_first') %}#}
		{#{% set _sidebar_second = block('sidebar_second') %}#}
		{% if _sidebar_first is not defined %}
			{% set _sidebar_first_len = 3 %}
		{% else %}
			{% set _sidebar_first_len = 0 %}
		{% endif %}

		{% if _sidebar_second is not defined %}
			{% set _sidebar_second_len = 2 %}
		{% else %}
			{% set _sidebar_second_len = 0 %}
		{% endif %}

		{% set _content_len = 7 + _sidebar_second_len + _sidebar_first_len %}


		<div class="col col-xs-{{ _content_len }} content">



			{% block page_header %}
			{% endblock %}

			{% if block('page_title') is not empty %}
			<h2 class="page-title">
				{% block page_title %}{% endblock %}
			</h2>
			{% endif %}

			{% if block('page_subtitle') is not empty %}
				<h4 class="page-subtitle">
				{% block page_subtitle %}{% endblock %}
				</h4>
			{% endif %}
            <div class="main-content">
			{% block content %}
			{% endblock %}
            </div>
		</div>

        {% if _sidebar_first is defined %}
            <div  class="col col-xs-3 sidebar-first">
                <div class="sidebar-first-inner">
                {% block sidebar_first %}{% endblock %}
                </div>
            </div>
        {% endif %}

		{% if _sidebar_second is defined %}
			<div class="col col-xs-2 sidebar-second">
				{% block sidebar_second %}{% endblock %}
			</div>
		{% endif %}

    </div>


    {{ include('@DarkishWebsite/Default/layout/footer.html.twig') }}


{% endblock %}

